/*global style*/

ul li {
    list-style: none;
}

i {
    color: #2980B9;
}
body{
    background: #E5EDF1;
}

/*global style*/
nav {
    background: #2980b9;
    height: 100px;
    width: 100%;

}

nav #logo {
    padding: 30px 50px;
}

nav span {
    color: #fff;
}

nav .logo {
    width: 100px;
    height: 100px;
}

nav i.fas.fa-cloud-upload-alt {
    color: #fff;
    font-size: 43px;
}

nav .websiteName {
    font-size: 20px;
}

/*body*/
#body {
    width: 100%;
    height: 700px;
    margin-top: 20px;
}

/*sidebar*/
#sidebar {
    float: left;
    border-right: 1px solid #2980b9;
    height: inherit;
    overflow: hidden;
    text-align: center;
}

.dropdown {
    margin: 20px 0;
}

.items {
    text-align: left;
}

ul.items li {
    padding: 10px 20px;
    color: #2980B9;
}

ul.items li i {
    margin-right: 5px;
    font-size: 18px;
}

/* start File And Folders */

#uploadedFilesAndFolders {
    overflow-y: auto;
}

#uploadedFilesAndFolders h3 {
    border-bottom: 1px solid #2980B9;
    /*display: inline-block;*/
    padding-bottom: 10px;
}

#folders, #files, h3 {
    display: block;
    clear: both;
}

#uploadedFilesAndFolders img {
    width: inherit;
    height: 85%;
}

#uploadedFilesAndFolders #folders {
    height: 100px;
}

#uploadedFilesAndFolders #folders .folder, .file {
    /*width: 200px;*/
    height: 200px;
    float: left;
    border: 1px solid rgba(41, 128, 185, 0.18);
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    margin: 10px 20px;
    text-align: center;
}

#uploadedFilesAndFolders #folders .folder i {
    font-size: 135px;
}

#uploadedFilesAndFolders #folders .folder span {
    margin-top: 10px;
    display: block;
}

#uploadedFilesAndFolders #files .fileIcon i {
    font-size: 135px;
}

#uploadedFilesAndFolders #files .file span {
    margin-top: 10px;
    display: block;
}


/* end File And Folders */

